
.depicter-revert .depicter-1-element-7{
	background-color:transparent;
}
.depicter-1-element-7 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-1-element-8{
	background-color:transparent;
}
.depicter-1-element-8 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-1-element-6{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-5{
	font-size:75px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-4{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-element-3{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-30{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-29{
	font-size:75px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-28{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-element-27{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-25 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-36{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-35{
	font-size:75px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-element-33{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-31 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-7{
	background-color:transparent;
}
.depicter-1-element-7 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-1-element-6{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-5{
	font-size:70px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-4{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-30{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-29{
	font-size:70px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-28{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-section-25 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-36{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-35{
	font-size:70px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-section-31 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-7{
	background-color:transparent;
}
.depicter-1-element-7 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-1-element-8{
	background-color:transparent;
}
.depicter-1-element-8 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-1-element-6{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-5{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-4{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-30{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-29{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-28{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-section-25 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-36{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-35{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rufina";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	background-color:#0089EF;
}
.depicter-revert .depicter-1-section-31 .depicter-section-background{
	background-color:#FFFFFF;
}

}
